<loader>
</loader>
<div class="page-header mt-2 mb-3">
    <h1 class="text-center">Ng Custom Select <small class="text-muted">Custom selectbox for angular</small></h1>
</div>

<div class="container">
    <form novalidate [formGroup]="configForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Disabled <i class="fas fa-exclamation-circle" [ngbPopover]="Disabled" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="right"></i></label>
                        <ng-template #Disabled><span>{{CONSTANTS.TOOLTIP.DISABLE}}</span></ng-template>
                    </div>
                    <div class="col-md-1 m-l-60 switch">
                        <label>
                            <input type="checkbox" formControlName="disable">
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="options">Options List</label>
                    <div class="input-group">
                        <textarea class="form-control" id="options" formControlName="options" aria-describedby="options list" rows="5" placeholder="Enter List of options here"></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-exclamation-circle" [ngbPopover]="options" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="top"></i></span>
                        </div>
                    </div>
                    <ng-template #options>
                        <span>{{CONSTANTS.TOOLTIP.OPTIONS}}</span>
                    </ng-template>
                    <small *ngIf="configForm.controls.options.touched && configForm.controls.options.errors?.required" class="form-text text-danger">{{CONSTANTS.ERROR.REQUIRED}}</small>
                    <small *ngIf="configForm.controls.options.errors?.invalidEntry" class="form-text text-danger">{{CONSTANTS.ERROR.OPTIONS}}</small>
                </div>
                <div class="form-group">
                    <label for="displayKey">Display Key Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="displayKey" formControlName="displayKey" placeholder="Name of Key" [disableControl]="configForm.controls.options.errors">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-exclamation-circle" [ngbPopover]="displayKey" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="top"></i></span>
                        </div>
                    </div>
                    <ng-template #displayKey>
                        <span>{{CONSTANTS.TOOLTIP.DISPLAY_KEY}}</span>
                    </ng-template>
                    <small *ngIf="configForm.controls.displayKey.errors?.invalidEntry" class="form-text text-danger">{{CONSTANTS.ERROR.DISPLAY_KEY}}</small>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Datalist <i class="fas fa-exclamation-circle" [ngbPopover]="datalist" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="top"></i></label>
                    </div>
                    <div class="col-md-1 m-l-61 switch">
                        <label>
                            <input type="checkbox" formControlName="isDatalist">
                            <span class="lever"></span>
                        </label>
                    </div>
                    <ng-template #datalist>
                        <span>{{CONSTANTS.TOOLTIP.DATALIST}}</span>
                    </ng-template>
                </div>

                <div class="form-group" [hidden]="!configForm.controls.isDatalist.value">
                    <label for="searchKeys">Keys name to search upon</label>
                    <div class="input-group">
                        <textarea class="form-control" id="searchKeys" formControlName="searchKeys" aria-describedby="searchKeys" rows="3" placeholder="Enter Search keys" [disableControl]="configForm.controls.options.errors"></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-exclamation-circle" [ngbPopover]="searchKey" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="top"></i></span>
                        </div>
                    </div>
                    <ng-template #searchKey>
                        <span>{{CONSTANTS.TOOLTIP.SEARCH_KEY}}</span>
                    </ng-template>
                    <small *ngIf="configForm.controls.searchKeys.errors?.invalidEntry" class="form-text text-danger">{{CONSTANTS.ERROR.SEARCH_KEY}}</small>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Style Guide <i class="fas fa-exclamation-circle" [ngbPopover]="styleGuide" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="right"></i></label>
                    </div>
                    <div class="col-md-1 m-l-60 switch">
                        <label>
                            <input type="checkbox" formControlName="userStyleGuide">
                            <span class="lever"></span>
                        </label>
                    </div>
                    <ng-template #styleGuide>
                        <span>{{CONSTANTS.TOOLTIP.STYLE_GUIDE}}</span>
                    </ng-template>
                </div>

                <div class="form-group" [hidden]="!configForm.controls.userStyleGuide.value">
                    <label for="styleGuide">Class Name Object</label>
                    <div class="input-group">
                        <textarea class="form-control" id="styleGuide" formControlName="styleGuide" aria-describedby="style Guide" rows="5" placeholder="Enter Object containing class names for select"></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-exclamation-circle" [ngbPopover]="styleGuideObj" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="left"></i></span>
                        </div>
                    </div>
                    <ng-template #styleGuideObj>
                        <span style="white-space: pre-line">{{CONSTANTS.TOOLTIP.STYLE_GUIDE_OBJ}}</span>
                    </ng-template>
                    <small *ngIf="configForm.controls.styleGuide.errors?.invalidEntry" class="form-text text-danger">{{CONSTANTS.ERROR.STYLE_GUIDE}}</small>
                </div>

                <div class="form-group" [hidden]="!configForm.controls.userStyleGuide.value">
                    <label for="css">CSS</label>
                    <div class="input-group">
                        <textarea class="form-control" id="css" formControlName="styles" aria-describedby="write styles" rows="5" placeholder="Write your css here"></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-exclamation-circle" [ngbPopover]="css" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="left"></i></span>
                        </div>
                    </div>
                    <ng-template #css>
                        <span>{{CONSTANTS.TOOLTIP.CSS}}</span>
                    </ng-template>
                </div>

                <div class="form-group" [hidden]="!configForm.controls.userStyleGuide.value">
                    <label for="cssUrl">CSS Url</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="cssUrl" id="cssUrl" placeholder="Enter your http url to load css">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-exclamation-circle" [ngbPopover]="cssURL" popoverClass="custom-popover" triggers="mouseenter:mouseleave" placement="left"></i></span>
                        </div>
                    </div>
                    <ng-template #cssURL>
                        <span>{{CONSTANTS.TOOLTIP.CSS_URL}}</span>
                    </ng-template>
                </div>

            </div>
        </div>
        <div class="form-group mt-2">
            <p class="hint-info text-primary"><em>*hover on <i class="fas fa-exclamation-circle"></i> icon for guide</em></p>
            <button type="button" class="btn btn-primary d-flex mx-auto" [disabled]="!configForm.valid" (click)="prepareResult(resultModal)">Try it out</button>
        </div>
    </form>
</div>

<modal #resultModal [config]="modalConfig" (onClose)="modalClose()">
    <modal-content>
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="mx-auto" *ngIf="showModal">
                    <ng-select [isDatalist]="selectSettings?.isDataList" [displayKey]="selectSettings?.displayKey" [searchKeys]="selectSettings?.searchKeys" [options]="selectSettings?.list" [disable]="selectSettings?.isDisable" [styleGuide]="selectSettings?.styleGuide"></ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ngb-tabset>
                        <ngb-tab title="HTML">
                            <ng-template ngbTabContent>
                                <div class="code-container">
                                    <pre [innerText]='htmlSnippet'></pre>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab *ngIf="configForm.controls.styles.value" title="CSS">
                            <ng-template ngbTabContent>
                                <div class="code-container">
                                    <pre [innerText]='configForm.controls.styles.value'></pre>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="TS">
                            <ng-template ngbTabContent>
                                <pre>
                                    <p *ngIf="tsSnippet?.options" class="m-0">{{tsSnippet.options}}</p>
                                    <p *ngIf="tsSnippet?.isDisable" class="m-0">{{tsSnippet.isDisable}}</p>
                                    <p *ngIf="tsSnippet?.isDatalist" class="m-0">{{tsSnippet.isDatalist}}</p>
                                    <p *ngIf="tsSnippet?.displayKey" class="m-0">{{tsSnippet.displayKey}}</p>
                                    <p *ngIf="tsSnippet?.searchKeys" class="m-0">{{tsSnippet.searchKeys}}</p>
                                    <p *ngIf="tsSnippet?.styleGuide" class="m-0">{{tsSnippet.styleGuide}}</p>
                                </pre>

                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>

            </div>
        </div>

    </modal-content>
    <modal-footer>
        <button class="btn btn-success" (click)="resultModal.close()">close</button>
    </modal-footer>
</modal>