/* You can add global styles to this file, and also import other style files */

//setting Bydefault prameter to elements.
a,
article,
body,
caption,
dd,
div,
dl,
dt,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
label,
legend,
li,
menu,
nav,
ol,
p,
span,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

//HTML5 display-role reset for older browsers
article,
main,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

$text-color: rgb(110, 108, 105);
$border-color: rgb(206, 205, 201);
$highlight-color: #d15947;
$color-black: #000;
$color-white: #fff;
$dropdown-active-color: #f0f2f5;
.dropdown-wrapper {
    padding: 12px 16px;
    width: 20%;
    border: 1px solid rgb(206, 205, 201);
    cursor: pointer;
    outline: none;
    color: rgb(110, 108, 105);
    &:focus {
        border: 1px solid red;
    }
    .dropdown {
        /* Styles */
        background: #fff;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgb(206, 205, 201);
        border-top: none;
        box-sizing: border-box;
        max-height: 400px;
        border-bottom: 1px solid rgb(206, 205, 201);
        /* Hover state */
        .option:hover .text {
            color: #d15947;
        }
        .option {
            padding: 0.8em;
            border-bottom: 1px solid rgb(206, 205, 201);
            .text {
                text-decoration: none;
                color: rgb(110, 108, 105);
                padding: 1em 0;
            }
        }
    }
}

.caret {
    &::after {
        content: "▼";
        text-align: center;
        pointer-events: none;
    }
}