/* You can add global styles to this file, and also import other style files */

//setting Bydefault prameter to elements.
a,
article,
body,
caption,
dd,
div,
dl,
dt,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
label,
legend,
li,
menu,
nav,
ol,
p,
span,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

//HTML5 display-role reset for older browsers
article,
main,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}